.footer {
  background-color: var(--footer-background);
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrapper {
  padding: 0 24px;

  a {
    color: var(--black);
  }
}
