@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --black: #000;
  --black-60: rgba(0, 0, 0, 0.6);
  --white: #fff;
  --green: #68b984;
  --header-height: 72px;
  --footer-height: 60px;
  --grey: #f2f2f2;
}

html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--white);
  color: var(--black);
}
